<table>
    <thead>
        <tr>
            <th>Rule Name</th>
            <th>Rule</th>
            <th>Last Edited</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Make field required</td>
            <td>Y = f(x1, x2)</td>
            <td>Yesterday at 10:00AM</td>
            <td class="end-center">
                <a href="javascript:void(0)" class="three-dot-sm">
                    <span class="icon-box icon-va-more-horiz"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td>Make field required</td>
            <td>Y = f(x1, x2)</td>
            <td>Yesterday at 10:00AM</td>
            <td class="end-center">
                <a href="javascript:void(0)" class="three-dot-sm">
                    <span class="icon-box icon-va-more-horiz"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>