@import "/src/styles.scss";
.card-wrapper {
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    > div {
        width: 33.33%;
        padding: 6px;
        .card-ctm {
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 8px;
            border: solid 1px $neutral-light1;
            transition: $transition;
            .icon-va-check2 {
                color: $secondary-color3;
            }
            .icon-box {
                overflow: hidden;
                opacity: 0;
                transition: $transition;
            }
            > div {
                padding: 12px;
                .label-txt {
                    font-size: 10px;
                    line-height: 14px;
                    color: $neutral-mid3;
                    display: block;
                }
                strong {
                    word-break: break-all;
                }
            }
            .rule-bx {
                background: $neutral-light4;
                .label-txt {
                    margin-bottom: 2px;
                }
                p {
                    font-size: 11px;
                    line-height: 16px;
                    color: $neutral-dark3;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
            &.active {
                border: solid 1px $neutral-mid1;
                transition: $transition;
                .icon-box {
                    overflow: visible;
                    opacity: 1;
                    transition: $transition;
                }
            }
        }
        > * {
            color: $neutral-dark3;
        }
    }
}
