<div class="card-wrapper">
    <div class="grid-card">
        <div class="card-ctm active">
            <div>
                <div class="space-between">
                    <span class="label-txt">Name</span>
                    <span class="icon-box icon-va-check2"></span>
                </div>
                <strong>Rule_Name</strong>
            </div>
            <div class="rule-bx">
                <span class="label-txt">Description</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua Ut enim ad minim veniam, quis nostrud sedi…</p>
            </div>
            <div>
                <span class="label-txt">Last Edited : Yesterday</span>
            </div>
        </div>
    </div>

    <div class="grid-card">
        <div class="card-ctm">
            <div>
                <div class="space-between">
                    <span class="label-txt">Name</span>
                    <span class="icon-box icon-va-check2"></span>
                </div>
                <strong>Rule_Name</strong>
            </div>
            <div class="rule-bx">
                <span class="label-txt">Description</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua Ut enim ad minim veniam, quis nostrud sedi…</p>
            </div>
            <div>
                <span class="label-txt">Last Edited : Yesterday</span>
            </div>
        </div>
    </div>

    <div class="grid-card">
        <div class="card-ctm">
            <div>
                <div class="space-between">
                    <span class="label-txt">Name</span>
                    <span class="icon-box icon-va-check2"></span>
                </div>
                <strong>Rule_Name</strong>
            </div>
            <div class="rule-bx">
                <span class="label-txt">Description</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua Ut enim ad minim veniam, quis nostrud sedi…</p>
            </div>
            <div>
                <span class="label-txt">Last Edited : Yesterday</span>
            </div>
        </div>
    </div>

    <div class="grid-card">
        <div class="card-ctm">
            <div>
                <div class="space-between">
                    <span class="label-txt">Name</span>
                    <span class="icon-box icon-va-check2"></span>
                </div>
                <strong>Rule_Name</strong>
            </div>
            <div class="rule-bx">
                <span class="label-txt">Description</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua Ut enim ad minim veniam, quis nostrud sedi…</p>
            </div>
            <div>
                <span class="label-txt">Last Edited : Yesterday</span>
            </div>
        </div>
    </div>
</div>