<!-- start column -->
<div class="column">
    <section class="btn-group">
        <button type="button" label="Add Expression" (click)="addRule()" class="add-rule"><span class="icon-va-add"></span>Rule</button>
        <button type="button" label="Add Expression" (click)="addRuleset()" class="add-rule"><span class="icon-va-add"></span>Rule Set</button>
        <button [disabled]="removebtn == 'true'" type="button" label="Add Expression" (click)="remove()" class="add-rule"><span class="icon-va-bin"></span>Remove</button>
    </section>
    <!-- start repeat-column -->
    <form [formGroup]="conditionForm">
        <section class="repeat-radio-group">
            <div class="if-col">
                <span class="tag-txt">IF</span>
                <label for="or"><input type="radio" id="or" name="operator" value="OR" formControlName="operator">OR</label>
                <label for="and"><input type="radio" id="and" name="operator" formControlName="operator" value="AND">AND</label>
            </div>
        </section>

        <ng-container formArrayName="statements">
            <ng-container *ngFor="let expression of conditionForm.get('statements')?.controls; index as i">
                <ng-container [ngSwitch]="expression.get('type').value">
                    <ng-container *ngSwitchCase="'CONDITION'">
                        <app-condition [condition]="expression" (removeAt)="removeCondition(i)" data-remove="false"></app-condition>
                    </ng-container>

                    <ng-container *ngSwitchCase="'EXPRESSION'">
                        <app-expression [expression]="expression" (removeAt)="removeExpression(i)"></app-expression>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
    </form>
    <!-- end repeat-column -->
</div>
<!-- end column -->