.column {
    border: 1px solid #dfe1e6;
    margin-bottom: 12px;
    padding: 12px 12px 0;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    &:before,
    &:after {
        display: none;
    }
    &:before {
        background-color: #b3bac5;
        width: 1px;
        height: 24px;
        content: "";
        position: absolute;
        margin-right: 7px;
        right: 100%;
        top: -13px;
        z-index: 1;
    }
    &:after {
        background-color: #b3bac5;
        width: 8px;
        height: 1px;
        content: "";
        position: absolute;
        right: 100%;
        top: 11px;
        z-index: 1;
    }
    .column {
        border: 1px solid #dfe1e6;
        margin-bottom: 12px;
        margin-left: 12px;
        padding: 12px 12px 0;
        border-radius: 4px;
        .repeat-radio-group label {
            padding-left: 0;
        }
        ::ng-deep .repeat-column {
            margin-left: 0;
        }
        .column {
            margin-left: 0;
            &:before,
            &:after {
                display: none;
            }
            .checkedClass .repeat-column:before,
            .checkedClass .repeat-column:after {
                display: none;
            }
        }
        &:before,
        &:after {
            display: none;
        }
        ::ng-deep .checkedClass .repeat-column:before,
        ::ng-deep .checkedClass .repeat-column:after {
            display: none;
        }
    }
    .btn-group {
        width: 100%;
        min-height: 26px;
        margin-bottom: -26px;
        display: flex;
        place-content: center flex-end;
        align-items: center;
        .add-rule {
            background: none;
            border: none;
            padding: 0;
            margin: 0 0 0 16px;
            display: flex;
            font-size: 12px;
            color: #2883f3;
            font-weight: 600;
            cursor: pointer;
            span {
                display: block;
                margin-right: 4px;
            }
        }
    }
}
::ng-deep .checkedClass {
    .column {
        &:before,
        &:after {
            display: block;
        }
    }
}
.repeat-radio-group {
    margin-bottom: 12px;
    display: flex;
    place-content: center space-between;
    align-items: center;
    .if-col {
        min-height: 26px;
        display: flex;
        place-content: center center;
        align-items: center;
        label {
            display: inline-flex;
            padding: 0 12px;
            margin: 0;
            font-size: 12px;
            color: #b3bac5;
            input {
                display: block;
                margin: 0 4px 0 0;
            }
        }
        .tag-txt {
            background-color: #dfe1e6;
            border-radius: 2px;
            padding: 4px;
            font-size: 12px;
            color: #091e42;
            font-weight: 600;
            line-height: 18px;
        }
    }
}