<div class="header-mini space-between">
    <strong>Info</strong>
</div>
<div class="rule-info-content">
    <div class="space-between">
        <strong>Info</strong>
        <a href="javascript:void(0)" class="center-center">
            <span class="icon-box icon-va-edit"></span>
        </a>
    </div>
    <div class="rule-name">
        <span class="">Rule Name</span>
        <strong>Rule Name</strong>
    </div>
    <div class="chip-bx">
        <span>Tag_1</span>
        <span>Tag_2</span>
    </div>
    <div>
        <span class="label-txt">Expression</span>
        <textarea disabled name="" id="" cols="30"
            rows="10">Employee_Grade  ==  “C”  AND  Age  >=45  And  Salary in  [ 450000, 1000000]</textarea>
    </div>
    <div>
        <span class="label-txt">Description</span>
        <textarea name="" id="" cols="30"
            rows="10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</textarea>
    </div>
    <div class="tabs-container">
        <ul>
            <li></li>
        </ul>
    </div>
</div>